body, html {
    margin: 0;
    padding: 0;
    font-family: 'Spartan';
    font-weight: lighter;
}
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.main {
    background-image: url("homepage/hero-bg-mobile@2x.jpg");
    height: 100%;
    max-height: 1000vh;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.main--content {
    margin: 250px 20px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.main--content--heading, .second--heading, .third--heading {
    text-align: center;
    font-weight: lighter;
}

.main--content--desc, .desc, .second-desc{
    text-align: center;
    line-height: 32px;
    margin-bottom: 40px;
}
.main--content--button {
    padding: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}
.second-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f2f3f5;
    padding: 30px;
}
.second--image, .second--image2, .third--image {
    max-width: 1000vw;
    width: calc(100% - 50px);

}
.second--image {
    margin-top: -70px;
}
.second-desc {
    font-weight: 400;
    
}
.circle-line {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #b7b2ae;
    margin-right: 10px;
}
.line {
    width: calc(100% - 20px);
    color: #b7b2ae;
}
.third-container {
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}

.separator {
    width: 100%;
}


@media screen and (min-width: 800px) { 

    .main {
        background-image: url("homepage/hero-bg-desktop@2x.jpg");
        max-height: 800px;
        height: calc(100% - 200px);
    }
    .main--content {
        margin: 20px 40px;
        margin-right: 700px;
        padding: 50px;
        align-items: start;
        width: calc(100% - 700px);
    }
    .main--content--heading {
        text-align: left;
    }
    .main--content--desc{
        text-align: left;
    }

}