body, html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.main {
    background-image: url("homepage/hero-bg-desktop@2x.jpg");
    height: calc(100% - 200px);
    max-height: 800px;
    background-size: cover;
    margin: 0;
}
.main--content {
    margin: 20px 40px;
}